.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

.env
.env.*

database/*.db
database/*.sqlite
database/*.sqlite3

log_collector/generated/*.csv

ai_models/artifacts/*.pkl
ai_models/artifacts/*.pt
ai_models/artifacts/*.pth
ai_models/artifacts/*.joblib

.vscode/*.log
.idea/

.DS_Store
Thumbs.db
